<%= form_for [@book, @book.ratings.build], remote: true do |f| %>

  <div id="rating-form"></div>

  <div class="bor-create-rating"><%= f.submit t("book.rating"),
    class: "create-rating" %></div>

  <div><%= render "shared/flash" %></div>
<% end %>

<%= javascript_include_tag "reviews" %>
