<li>
  <div class="test">
    <span class="user-name"><%= rating.user.name %></span>
    <br/>
    <span class="review-rating" data-score=<%= rating.rating %>></span>
    <br/>
    <% if user_signed_in? %>
      <% if can? :update, rating %>
        <%= link_to t("edit"), book_rating_path(rating.book, rating) %>
      <% end %>
    <% end %>
  </div>
</li>
