<ul>
  <% @ratings.each do |rating| %>
    <li>
        <span class="unit-category"><%= rating.user.name %><%= t "two_point" %></span>
        <span class="review-rating" data-score=<%= rating.rating %>></span>
    </li>
  <% end %>
</ul>
