<tr>
  <td><span class="unit-category"><%= category.name %></span></td>
  <td><%= link_to t("edit"), edit_admin_category_path(category), class: "sam-bak", class: "btn btn-primary" %></td>
  <td><%= link_to t("delete"), admin_category_path(category), method: :delete,
    data: {confirm: t("are_you_sure")}, class: "sam-bak", class: "btn btn-primary" %></td>
</tr>
