// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.your-cart {
  margin: 40px 20px 10px 40px;
  .book-size-cart {
    img {
      width: 110px;
      height: 170px;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    color: rgb(159, 158, 137);
  }
  .tit {
    color: rgb(0, 124, 245);
    font-family: "Tamaho", sans-serif;
    font-size: 20px;
  }
  .tit:hover {
    text-decoration: none;
    color: rgb(78, 123, 214);
  }
  .nums {
    font-weight: bold;
    font-family: "Tamaho", sans-serif;
  }
  .numss {
    font-family: "Tamaho", sans-serif;
  }
  .total {
    border: 2px solid rgb(159, 158, 137);
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
  }
  .cost {
    font-family: "Tamaho", sans-serif;
  }
  .costnum {
    font-family: "Tamaho", sans-serif;
    font-weight: bold;
    color: #ff1a1a;
    margin-left: 20px;
  }
  .add-order {
    font-size: 20px;
    color: white;
    font-family: "Tamaho", sans-serif;
    border: 0px solid red;
    border-radius: 5px;
    background-color: #ff4d4d;
    padding: 3px 50px 3px 50px;
    margin-top: 20px;
  }
  .add-order:hover {
    color: white;
    text-decoration: none;
    background-color: #ff6666;
  }
  h4 {
    text-align: right;
  }
}

.adcart {
  font-size: 20px;
  color: white;
  font-family: "Tamaho", sans-serif;
  border: 0px solid red;
  border-radius: 5px;
  background-color: rgb(126, 157, 144);
  padding: 3px 10px 3px 10px;
  margin-top: 20px;
}
.adcart:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(107, 151, 119);
}

.empty-cart {
  font-size: 15px;
  color: white;
  font-family: "Tamaho", sans-serif;
  border: 0px solid red;
  border-radius: 5px;
  background-color: rgb(176, 164, 151);
  padding: 3px 7px 3px 3px;
}
.empty-cart:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(162, 144, 131);
}

.empty-or-de {
  font-size: 15px;
  color: white;
  font-family: "Tamaho", sans-serif;
  border: 0px solid red;
  border-radius: 5px;
  background-color: rgb(190, 190, 171);
  padding: 3px 7px 3px 3px;
}
.empty-or-de:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(176, 164, 151);
}

.no-item {
  font-size: 15px;
  color: #145214;
  font-family: "Tamaho", sans-serif;
  border: 0px solid red;
  border-radius: 5px;
  background-color: #98e698;
  padding: 13px;
  margin: 13px;
}
