<% provide :title, t("all_categories") %>
<h1><%= t "all_categories" %></h1>
<%= render "shared/flash" %>

<div class="list-categories">
  <%= paginate @categories, theme: "twitter-bootstrap-3" %>

  <ul>
    <%= render @categories %>
  </ul>
</div>
